.Day {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.Day__date {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 1px solid transparent;
}
.Day__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Day--today .Day__date {
  border-color: orange;
}
.Day--disabled {
  opacity: 0.4;
}
.Day--selected .Day__date {
  background-color: orange;
  color: white;
}

.Day__indicator {
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.Day__indicator:after {
  display: block;
  content: '';
  height: 8px;
  width: 8px;
  margin: 0 auto;
  border-radius: 50px;
  background-color: pink;
}

.Day__range-bar {
  position: absolute;
  bottom: 5px;
  height: 8px;
  width: 100%;
  opacity: 0.4;
  background-color: darkmagenta;
}

.Day__range-bar--start {
  opacity: 1;
}
.Day__range-bar--end {
  opacity: 1;
}
