.Day {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.Day__date {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 50%;
  height: 50%;
  border-radius: 50px;
  border: 1px solid transparent;
}
.Day--today .Day__date {
  border-color: orange;
}
.Day--disabled {
  opacity: 0.4;
}
